<title>Crime Search</title>
<div class="heading-title">
    <h1><em>Welcome</em></h1>
    <h2>Input your postcode below</h2>
</div>
<div class="form-wrapper">
    <form action="/" method="post">
        <input type="text" name="pcodeSearch" id="pcodeSearch" placeholder="Postcode" required>
        <input type="month" id="start" name="start"min="2018-03" placeholder="Year Month" >
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
